<!doctype html>
<html lang='en'>


  <head>
  <link rel="stylesheet" href="../style.css">
  <meta charset = 'utf-8'>
  <title>Rock Paper Scissors</title>
  </head>



  <body>
    <nav>
    <h1>WELCOME!</h1>
    <h3>Will you dare take on the amazing player_1?</h3>

    <ul>
    <li><a href ="/">home </a></li>
    <li><a href ="/rules">rules</a></li>
    </ul>
    </nav>
    <%= yield %>
    </body>

  </html>